@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

     <link rel="stylesheet" href="~/css/stylesheet.css" />

     <div class="c1"><p class="p1">C# is designed for the Common Language Infrastructure(CLI),which describes executable code and runtime environment.
        this allow usage of multiple high-level language on various computer platforms and architecture. </p>
     <p class="p1"> Common Language Runtime(CLR) is defined in the Common Language Infrastructure(CLI).</p>  
      <p class="p1">C# has multiple points that make web development solutions faster as well as easier.Some of these are garbage collection,
         scalability support,type safety,easier type declarations etc.
      </p>  
      @* <p> <a asp-area="" asp-page="/Quiz" class="quiz">Click here Play the Quiz</a><br></p> *@
     <img src="~/images/blue_wave1.png"  class="bimg"  asp-append-version="true" />
      @* <p class="learn">LEARN C#</p>  *@
     
 
  </div> 
 