@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

 <div class="login_page">
   <form  method="get" action="Quiz" class="login_form">
  <div class="imgcontainer">
    <img src="~/images/avator.jpg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required></br>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

     <button type="submit" class=b1>Login</button> 
    

    <label>
      <a asp-area="" asp-page="/registration">create a account</a>
    </label>
  </div>

  
</form>
  </div>    
   
