@page
@model Main_method
@{
    ViewData["Title"] = "Home page";
}

     <link rel="stylesheet" href="~/css/stylesheet.css" />

    <div class="scroll">
    <center><h3>Main() and command-line arguments</h3></center>
    <p class="p1">
        The Main method is the entry point of a C# application. (Libraries and services do not require a Main method as an entry point.) 
        When the application is started, the Main method is the first method that is invoked.
    </p>
    <div data-pym-src="https://www.jdoodle.com/embed/v0/4Uhp"></div>

    <script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript">
    </script>
    </div>
    