@page
@model Overview
@{
    ViewData["Title"] = "Home page";
}

     <link rel="stylesheet" href="~/css/stylesheet.css" />
    <div class="scroll">
        <center></br></br><h3>General Structure of a C# Program</h3></center>
        <p class="f_size">
            C# programs consist of one or more files. Each file contains zero or more namespaces.
            A namespace contains types such as classes, structs, interfaces, enumerations, and delegates, or other namespaces. 
            The following example is the skeleton of a C# program that contains all of these elements.</font>
        </p>
        
    <div data-pym-src="https://www.jdoodle.com/embed/v0/4Uhm"></div>

    <script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript">
    </script>
    </div>
    
	

      
    
