@page
@model type_namespace
@{
    ViewData["Title"] = "Home page";
}

     <link rel="stylesheet" href="~/css/stylesheet.css" />
    <div class="pp">
        <center></br></br><h3>Namespace</h3></center>
        <p>
            Namespaces are heavily used in C# programming in two ways. First, .NET uses namespaces to organize its many classes.
            System is a namespace and Console is a class in that namespace. The using keyword can be used so that the complete name isn't required
        </p>
        
    <div data-pym-src="https://www.jdoodle.com/embed/v0/4Uth"></div>

    <script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript">
    </script>
    </div>
    
	

      
    
